## Final Project: Bankruptcy Analysis
#### By: Keegan Henderson & Brandon Thomas

In [1]:
#Libraries
from scipy.io import arff

import pandas as pd

## Section 1: Cleaning and Organizing Data

### Transforming the data from arff -> a dataframe

In [2]:
# Loading the arff files into the workspace

AData1 = arff.loadarff('1year.arff')
AData2 = arff.loadarff('2year.arff')
AData3 = arff.loadarff('3year.arff')
AData4 = arff.loadarff('4year.arff')
AData5 = arff.loadarff('5year.arff')

In [3]:
#loading the arff files (from workspace) into a dataframe (within the workspace)

df1 = pd.DataFrame(AData1[0])
df2 = pd.DataFrame(AData2[0])
df3 = pd.DataFrame(AData3[0])
df4 = pd.DataFrame(AData4[0])
df5 = pd.DataFrame(AData5[0])

In [4]:
#checking arff files did get transformed dataframe
df1.head()
df2.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.202350,0.46500,0.240380,1.5171,-14.547,0.510690,0.25366,0.91816,1.15190,0.42695,...,0.13184,0.473950,0.86816,0.00024,8.5487,5.16550,107.740,3.38790,5.3440,b'0'
1,0.030073,0.59563,0.186680,1.3382,-37.859,-0.000319,0.04167,0.67890,0.32356,0.40437,...,0.12146,0.074369,0.87235,0.00000,1.5264,0.63305,622.660,0.58619,1.2381,b'0'
2,0.257860,0.29949,0.665190,3.2211,71.799,0.000000,0.31877,2.33200,1.67620,0.69841,...,0.16499,0.369210,0.81614,0.00000,4.3325,3.19850,65.215,5.59690,47.4660,b'0'
3,0.227160,0.67850,0.042784,1.0828,-88.212,0.000000,0.28505,0.47384,1.32410,0.32150,...,0.29358,0.706570,0.78617,0.48456,5.2309,5.06750,142.460,2.56210,3.0066,b'0'
4,0.085443,0.38039,0.359230,1.9444,21.731,0.187900,0.10823,1.37140,1.11260,0.52167,...,0.10124,0.163790,0.89876,0.00000,5.7035,4.00200,89.058,4.09840,5.9874,b'0'

### Naming the Columns

In [5]:
df1.columns

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57',
       'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64',
       'class'],
      dtype='object')

In [6]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df1.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))

In [9]:
#Assigning columns and dropping final column

df1.columns = cNamesString
df1.drop(['65'], axis = 1,inplace=True)

ValueError: Length mismatch: Expected axis has 64 elements, new values have 65 elements

In [8]:
#checking to ensure col. name change
df1.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61',
       '62', '63', '64'],
      dtype='object')

## Section 2: Visualization

## Section 3: Machine Learning