## Final Project: Bankruptcy Analysis
#### By: Keegan Henderson & Brandon Thomas

In [4]:
#Libraries
from scipy.io import arff

import pandas as pd

## Section 1: Cleaning and Organizing Data

### Transforming the data from arff -> a dataframe

In [5]:
# Loading the arff files into the workspace

AData1 = arff.loadarff('1year.arff')
AData2 = arff.loadarff('2year.arff')
AData3 = arff.loadarff('3year.arff')
AData4 = arff.loadarff('4year.arff')
AData5 = arff.loadarff('5year.arff')

In [6]:
#loading the arff files (from workspace) into a dataframe (within the workspace)

df1 = pd.DataFrame(AData1[0])
df2 = pd.DataFrame(AData2[0])
df3 = pd.DataFrame(AData3[0])
df4 = pd.DataFrame(AData4[0])
df5 = pd.DataFrame(AData5[0])

In [7]:
#checking arff files did get transformed dataframe
df1.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,b'0'
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,b'0'
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,b'0'
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,b'0'
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,b'0'

## Naming Columns

In [8]:
df1.columns

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8',
       'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15',
       'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22',
       'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29',
       'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36',
       'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43',
       'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50',
       'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57',
       'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64',
       'class'],
      dtype='object')

In [9]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df1.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df1.columns = cNamesString
df1.drop(['65'], axis = 1,inplace=True)

In [10]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df2.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df2.columns = cNamesString
df2.drop(['65'], axis = 1,inplace=True)

In [11]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df3.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df3.columns = cNamesString
df3.drop(['65'], axis = 1,inplace=True)

In [12]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df4.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df4.columns = cNamesString
df4.drop(['65'], axis = 1,inplace=True)

In [13]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df5.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df5.columns = cNamesString
df5.drop(['65'], axis = 1,inplace=True)

In [14]:
#sampling dataframe to see syntax of missing data for best method of removal
df1.sample(10)

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
931,0.248200,0.22598,0.408560,2.83350,-24.3630,0.000000,0.307980,3.42520,1.31570,0.77402,...,23463.00,0.230820,0.32066,0.76874,0.000000,3.8126,8.4143,61.820,5.9043,3.5693
3447,-0.058612,0.29236,0.173590,1.60130,-14.7430,-0.049943,-0.061626,1.73440,0.94825,0.50706,...,45285.00,-0.054573,-0.11559,1.05460,0.007233,12.4050,6.3221,81.339,4.4874,2.4093
4215,0.058528,0.50089,0.035811,1.07970,-39.5220,0.000000,0.065525,0.99643,1.50350,0.49911,...,178.99,0.011161,0.11727,0.95991,0.000000,8.8468,6.1675,109.020,3.3481,2.9186
4088,0.088844,0.81488,-0.188960,0.76811,-9.4865,-0.252270,0.145150,0.22719,7.41790,0.18513,...,-379.33,0.019982,0.47990,0.98045,0.000000,NaN,19.9820,40.096,9.1031,19.8290
4410,0.074020,0.59630,0.317340,1.54820,75.9520,0.169330,0.096627,0.67700,1.31520,0.40370,...,977.19,0.064830,0.18335,0.93943,0.043087,411.1400,1.5890,160.670,2.2718,12.6770
3428,0.142000,0.78753,0.075556,1.09590,-12.3460,0.000000,0.179970,0.26979,3.56110,0.21247,...,133.47,0.056135,0.66834,0.94958,0.000000,18.6650,5.3963,80.718,4.5219,26.0100
6344,0.076352,0.62786,0.425570,1.81420,7.1131,-0.167450,0.098515,0.59272,2.68290,0.37215,...,23912.00,0.039132,0.20517,0.96395,0.187170,7.2093,5.2862,71.108,5.1330,51.8480
2544,0.205760,0.64202,0.083261,1.17930,17.4520,0.000000,0.256990,0.55758,1.69090,0.35798,...,289.88,0.164830,0.57480,0.84916,0.496200,354.9800,3.3970,100.220,3.6419,3.7373
6026,0.282050,0.48742,0.308020,1.86120,45.5350,0.000000,0.282050,1.05160,2.35570,0.51258,...,5130.70,0.047214,0.55024,0.89145,0.168930,124.8100,3.8233,55.414,6.5867,7.0459
6458,0.155100,0.22245,0.539180,3.43280,85.9330,-0.037143,0.155100,3.49360,1.89020,0.77714,...,1321.00,0.101710,0.19958,0.90412,0.000000,17.1520,3.5270,42.797,8.5285,7.9027

In [15]:
#removing missing data from each dataframe
df1=df1.dropna()
df2=df2.dropna()
df3=df3.dropna()
df4=df4.dropna()
df5=df5.dropna()

In [36]:
#concatenating individual yearly data frames into a single large dataframe, then saving final dataframe out for easier use later on
final_dataframe=pd.concat([df1,df2,df3,df4,df5],axis=0)
final_dataframe=final_dataframe.to_csv("final_dataframe")

In [38]:
type(final_dataframe)

NoneType

## Section 2: Visualization

## Section 3: Machine Learning