## Final Project: Bankruptcy Analysis
#### By: Keegan Henderson & Brandon Thomas

In [42]:
#Libraries
from scipy.io import arff

import pandas as pd

## Section 1: Cleaning and Organizing Data

### Transforming the data from arff -> a dataframe

In [43]:
# Loading the arff files into the workspace

AData1 = arff.loadarff('1year.arff')
AData2 = arff.loadarff('2year.arff')
AData3 = arff.loadarff('3year.arff')
AData4 = arff.loadarff('4year.arff')
AData5 = arff.loadarff('5year.arff')

In [44]:
#loading the arff files (from workspace) into a dataframe (within the workspace)

df1 = pd.DataFrame(AData1[0])
df2 = pd.DataFrame(AData2[0])
df3 = pd.DataFrame(AData3[0])
df4 = pd.DataFrame(AData4[0])
df5 = pd.DataFrame(AData5[0])

In [45]:
#checking arff files did get transformed dataframe
df1.head()

      Attr1    Attr2    Attr3   Attr4    Attr5    Attr6     Attr7    Attr8   Attr9   Attr10    Attr11   Attr12    Attr13    Attr14   Attr15   Attr16  Attr17    Attr18    Attr19  Attr20  Attr21   Attr22    Attr23   Attr24   Attr25   Attr26    Attr27   Attr28  Attr29   Attr30    Attr31  Attr32  Attr33   Attr34   Attr35  Attr36    Attr37   Attr38    Attr39    Attr40    Attr41    Attr42  Attr43   Attr44   Attr45   Attr46   Attr47    Attr48    Attr49  Attr50   Attr51   Attr52   Attr53   Attr54    Attr55    Attr56   Attr57   Attr58    Attr59  Attr60  Attr61   Attr62  Attr63   Attr64 class
0  0.200550  0.37951  0.39641  2.0472  32.3510  0.38825  0.249760  1.33050  1.1389  0.50494  0.249760  0.65980  0.166600  0.249760   497.42  0.73378  2.6349  0.249760  0.149420  43.370  1.2479  0.21402  0.119980  0.47706  0.50494  0.60411   1.45820   1.7615  5.9443  0.11788  0.149420   94.14  3.8772  0.56393  0.21402  1.7410  593.2700  0.50591  0.128040  0.662950  0.051402  0.128040  114.42   71.050  1.00970  1.52250   49.394  0.185300  0.110850  2.0420  0.37854  0.25792   2.2437   2.2480  348690.0  0.121960  0.39718  0.87804  0.001924  8.4160  5.1372   82.658  4.4158   7.4277  b'0'
1  0.209120  0.49988  0.47225  1.9447  14.7860  0.00000  0.258340  0.99601  1.6996  0.49788  0.261140  0.51680  0.158350  0.258340   677.96  0.53838  2.0005  0.258340  0.152000  87.981  1.4293  0.24806  0.123040      NaN  0.39542  0.43992  88.44400  16.9460  3.6884  0.26969  0.152000  122.17  2.9876  2.98760  0.20616  1.6996       NaN  0.49788  0.121300  0.086422  0.064371  0.145950  199.49  111.510  0.51045  1.12520  100.130  0.237270  0.139610  1.9447  0.49988  0.33472  17.8660  17.8660    2304.6  0.121300  0.42002  0.85300  0.000000  4.1486  3.2732  107.350  3.4000  60.9870  b'0'
2  0.248660  0.69592  0.26713  1.5548  -1.1523  0.00000  0.309060  0.43695  1.3090  0.30408  0.312580  0.64184  0.244350  0.309060   794.16  0.45961  1.4369  0.309060  0.236100  73.133  1.4283  0.30260  0.189960      NaN  0.28932  0.37282  86.01100   1.0627  4.3749  0.41929  0.238150  176.93  2.0630  1.42740  0.31565  1.3090    2.3019  0.51537  0.241140  0.322020  0.074020  0.231170  165.51   92.381  0.94807  1.01010   96.372  0.291810  0.222930  1.0758  0.48152  0.48474   1.2098   2.0504    6332.7  0.241140  0.81774  0.76599  0.694840  4.9909  3.9510  134.270  2.7185   5.2078  b'0'
3  0.081483  0.30734  0.45879  2.4928  51.9520  0.14988  0.092704  1.86610  1.0571  0.57353  0.092704  0.30163  0.094257  0.092704   917.01  0.39803  3.2537  0.092704  0.071428  79.788  1.5069  0.11550  0.062782  0.17193  0.57353  0.36152   0.94076   1.9618  4.6511  0.14343  0.071428   91.37  3.9948  0.37581  0.11550  1.3562       NaN  0.57353  0.088995  0.401390  0.069622  0.088995  180.77  100.980  0.28720  1.56960   84.344  0.085874  0.066165  2.4928  0.30734  0.25033   2.4524   2.4524   20545.0  0.054015  0.14207  0.94598  0.000000  4.5746  3.6147   86.435  4.2228   5.5497  b'0'
4  0.187320  0.61323  0.22960  1.4063  -7.3128  0.18732  0.187320  0.63070  1.1559  0.38677  0.187320  0.33147  0.121820  0.187320  1133.20  0.32211  1.6307  0.187320  0.115530  57.045     NaN  0.19832  0.115530  0.18732  0.38677  0.32211   1.41380   1.1184  4.1424  0.27884  0.115530  147.04  2.4823  0.32340  0.19832  1.6278   11.2470  0.43489  0.122310  0.293040  0.096680  0.122310  141.62   84.574  0.73919  0.95787   65.936  0.188110  0.116010  1.2959  0.56511  0.40285   1.8839   2.1184    3186.6  0.134850  0.48431  0.86515  0.124440  6.3985  4.3158  127.210  2.8692   7.8980  b'0'

## Naming Columns

In [46]:
df1.columns

Index(['Attr1', 'Attr2', 'Attr3', 'Attr4', 'Attr5', 'Attr6', 'Attr7', 'Attr8', 'Attr9', 'Attr10', 'Attr11', 'Attr12', 'Attr13', 'Attr14', 'Attr15', 'Attr16', 'Attr17', 'Attr18', 'Attr19', 'Attr20', 'Attr21', 'Attr22', 'Attr23', 'Attr24', 'Attr25', 'Attr26', 'Attr27', 'Attr28', 'Attr29', 'Attr30', 'Attr31', 'Attr32', 'Attr33', 'Attr34', 'Attr35', 'Attr36', 'Attr37', 'Attr38', 'Attr39', 'Attr40', 'Attr41', 'Attr42', 'Attr43', 'Attr44', 'Attr45', 'Attr46', 'Attr47', 'Attr48', 'Attr49', 'Attr50', 'Attr51', 'Attr52', 'Attr53', 'Attr54', 'Attr55', 'Attr56', 'Attr57', 'Attr58', 'Attr59', 'Attr60', 'Attr61', 'Attr62', 'Attr63', 'Attr64', 'class'], dtype='object')

In [47]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df1.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df1.columns = cNamesString
df1.drop(['65'], axis = 1,inplace=True)

In [48]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df2.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df2.columns = cNamesString
df2.drop(['65'], axis = 1,inplace=True)

In [49]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df3.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df3.columns = cNamesString
df3.drop(['65'], axis = 1,inplace=True)

In [50]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df4.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df4.columns = cNamesString
df4.drop(['65'], axis = 1,inplace=True)

In [51]:
count = 1
cNames = []

#creates a list of numbered ints from 1-end of col.
for c in df5.columns:
    cNames.append(count)
    count = count + 1

#changes the list above to strings (so can assign to df1.columns)
cNamesString = []
for item in cNames:
    cNamesString.append(str(item))
    
#Assigning columns and dropping final column
df5.columns = cNamesString
df5.drop(['65'], axis = 1,inplace=True)

In [52]:
#sampling dataframe to see syntax of missing data for best method of removal
df1.sample(10)

             1         2         3         4         5         6         7         8        9       10        11        12        13        14        15        16       17        18        19       20       21        22        23        24       25        26        27        28      29        30        31       32       33         34        35       36        37       38        39         40        41        42       43       44        45        46        47        48        49        50        51        52       53       54        55        56        57       58       59       60       61       62       63       64
2310  0.149160  0.334640  0.331640   1.99110   41.7220  0.438350  0.176700   1.79460  1.17580  0.60053  0.176700  0.528030  0.205950  0.176700   593.620  0.614870   2.9883  0.176700  0.176870   42.207  1.11570  0.153610  0.149300  0.531960  0.60053  0.532580   1.80770  0.993760  4.8608  0.325860  0.176870  143.750   2.5392   0.459020  0.153610  1.11160       NaN  0.60053  0.153750   0.388750  0.060229  0.153750  195.890  153.690  1.291100   1.64580   49.6260  0.124550  0.124660   1.99110  0.334640  0.393830  1.79950  1.79950  24072.00  0.149490  0.248380  0.85051  0.00000   8.6479   2.3750  122.260   2.9855  2.99370
1529 -0.009458  0.036255  0.133020   4.66900  124.8800 -0.061443 -0.009458  20.60800  0.74288  0.74714 -0.009458 -0.260870  0.144290 -0.009458   304.120  1.200200  27.5820 -0.009458 -0.031362   10.348  0.94710 -0.008391 -0.031362 -0.061443  0.74714  1.200200  -0.20670  0.160120  4.7994 -0.117490 -0.031362   32.598  11.1970  -0.231440 -0.008391  0.40521       NaN  0.74714 -0.027823   2.033000  0.026737 -0.027823  115.670  105.320 -1.106200   4.43320    7.6875 -0.061361 -0.203470   4.66900  0.036255  0.089310  0.89939  0.89939   8381.90 -0.346100 -0.012659  1.34610  0.00000  35.2720   3.4657   43.881   8.3180  0.36302
3644  0.415670  0.077415  0.776210  12.69300  628.4100  0.407530  0.496870  10.45000  0.87143  0.80899  0.496870  7.485200  1.397400  0.496870    54.539  6.692500  12.9170  0.496870  1.340200   69.129  0.81301  0.480310  1.121200  0.479920  0.80899  5.643600  11.28900  4.931000  4.1689 -1.675800  1.340200   56.949   6.4092   6.204300  0.480310  1.02030  69.99600  0.82003  1.295500  10.532000  0.005075  1.295500  141.260   72.127  5.919800  11.63600   60.2410  0.459080  1.238300  10.88400  0.066380  0.156030  5.13930  5.20940  11451.00 -0.147540  0.513810  1.14750  0.01364   5.2800   5.0605   65.352   5.5852  2.35520
4599  0.010814  0.633500  0.011957   1.02040 -293.0400  0.021042  0.014866   0.56981  1.06810  0.36098  0.014866  0.025361  0.064715  0.014866  5051.700  0.072252   1.5785  0.014866  0.021018  270.850  0.96107  0.037262  0.015290  0.029462  0.36098  0.065857   0.56269  0.029754  5.0993  0.891150  0.021018  323.090   1.1297   0.058818  0.037262  0.70973   1.54830  0.40831  0.052682   0.007145  0.305530  0.052682  306.500   35.658  0.020605   0.12503  289.2900  0.006355  0.008985   0.94416  0.586170  0.885180  0.89824  1.01600   1503.10  0.063750  0.029959  0.93625  0.13113   1.3476  10.2360  302.490   1.2066  1.76000
6262  0.056139  0.252630  0.410680   2.68220  -15.3120  0.000000  0.056139   2.95840  1.56070  0.74737  0.060026  0.229950  0.166760  0.056139   354.300  1.030200   3.9584  0.056139  0.035971  103.320  1.18430  0.000000  0.035971  0.138520  0.67194  1.030200   0.00000  1.189700  3.8418  0.159290  0.085962   89.768   4.0660   3.929300  0.019721  1.56070       NaN  0.74737  0.012636   0.026533  0.041255  0.000000  151.630   48.310  0.127080   0.87264  162.4400 -0.204120 -0.130790   2.59200  0.244130  0.245940  2.16510  2.16510   2853.00  0.363950  0.075116  0.63600  0.00000   3.5327   7.5554   57.096   6.3927  4.52130
4277  0.060231  0.702760  0.135040   1.38940  -49.6020  0.067574  0.075499   0.40027  1.05590  0.28129  0.075499  0.217690  0.051753  0.075499  3397.500  0.107430   1.4230  0.075499  0.051753   67.225  2.38070  0.086857  0.041287  0.085992  0.28129  0.085706   0.62869  0.260620  4.8244  0.476020  0.051753   91.627   3.9835   0.123590  0.086857  1.48670   0.59890  0.63723  0.059539   0.187540  0.266000  0.059539  104.290   37.063  0.224170   0.61466   70.9840  0.086857  0.059539   0.68566  0.346820  0.251030  0.54288  1.22980   9012.90  0.052959  0.214120  0.94704  1.26540   5.4295   9.8481   86.774   4.2063  2.81550
2835  0.191770  0.580850  0.419150   1.72160   12.5670  0.000000  0.238720   0.72162  2.77660  0.41915  0.261670  0.410990  0.086643  0.238720   881.280  0.414170   1.7216  0.238720  0.085978   43.553  1.30370  0.247960  0.069067  0.439420  0.40596  0.333330  10.80500       NaN  3.5788  0.202930  0.085978   84.701   4.3093   4.309300  0.273540  2.77660       NaN  0.41915  0.098518   0.030881  0.077508  0.089303  129.100   85.546  0.578820   1.15120   48.3130  0.246110  0.088638   1.72160  0.580850  0.232060      NaN      NaN   1589.00  0.098518  0.457520  0.91451  0.00000   8.3806   4.2667   76.357   4.7802      NaN
2242  0.042587  0.235850  0.231760   1.98270    6.5262  0.000000  0.042587   3.24000  2.85000  0.76415  0.067002  0.180570  0.046737  0.042587   646.280  0.564770   4.2400  0.042587  0.014943   24.062  1.10160  0.000000  0.014943  0.073309  0.61195  0.564770   0.00000  0.435320  3.4330  0.082755  0.030111   38.261   9.5396   9.539600  0.009008  2.85000       NaN  0.76415  0.003161   0.020103  0.086761  0.000000   59.280   35.219  0.226670   1.18610   30.4790 -0.090612 -0.031794   1.98270  0.235850  0.104830  1.43530  1.43530    628.18  0.210550  0.055731  0.79935  0.00000  15.1690  10.3640   30.205  12.0840  5.35320
6858 -0.139230  0.076546  0.483860   7.32120  175.7000 -0.379640 -0.137300  12.06400  0.89060  0.92345 -0.107910 -1.793700 -0.114970 -0.137300  -272.870 -1.337600  13.0640 -0.137300 -0.154170    0.000      NaN -0.135740 -0.156340 -0.137300 -0.51888 -1.362800  -4.61790  1.100800  2.7144 -0.413400 -0.154170   27.247  13.4080  13.408000 -0.134810  0.91653       NaN  0.92345 -0.151370   5.809900 -0.025306 -0.152410   47.413   47.413       NaN   5.80990    0.0000 -0.170660 -0.191620   7.32120  0.076546  0.074581  2.10080  2.10080    250.70 -0.151350 -0.150780  1.11980  0.00000      NaN   7.6984   31.371  11.6350  2.02610
6978 -0.077642  0.832060 -0.107040   0.79968  -39.5690 -0.077642 -0.075490   0.19577  1.00900  0.16290 -0.075490 -0.141280 -0.018086 -0.075490 -6891.300 -0.052965   1.2018 -0.075490 -0.030979   22.674  1.79860  0.030973 -0.031863 -0.075490  0.16290 -0.055552       NaN -0.186910  4.5809  0.317920 -0.030979   80.761   4.5195   0.037224  0.030973  2.46820   0.92674  0.46063  0.012711   0.114060  0.438450  0.012711   54.874   32.200 -0.512920   0.51638   22.8790 -0.000446 -0.000183   0.51353  0.534330  0.221260  0.28444  0.80434  -4078.00  0.008962 -0.476640  0.99104  1.82770  16.0980  11.3350   80.037   4.5604  4.25500

In [54]:
#removing missing data from each dataframe
df1=df1.dropna()
df2=df2.dropna()
df3=df3.dropna()
df4=df4.dropna()
df5=df5.dropna()

## Section 2: Visualization

## Section 3: Machine Learning